{% extends 'pays/base.html'%}
{% load static%}

{% block content%}
<h1 class="titulo">Escola</h1>
<h2 class="titulo">Horários para o ano 2021</h2>

<div class="offset-1 col-10">
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/drive/folders/157Fi4lQPeuMJvWSGs8VhxFYP4I6A5R_O?usp=sharing">curso de informática</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/drive/folders/1P0onnWZoDSg1y_jT6i5dj5qYpfnVg0jV?usp=sharing">curso de medicina</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/drive/folders/1b9X_Iho0YnTiXTBOV2BKjInkY0ypJJDN?usp=sharing">curso de electrónica</a>
</div>
{% endblock content%}